@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@400..800&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

:root {
	--background: #1c1c1c;
	--color-main: #ffffff;
	--color-tint: #8f8f8f;
}

@theme inline {
	--color-background: var(--background);
	--color-main: var(--color-main);
	--color-tint: var(--color-tint);
}

body {
	font-family: 'Rethink Sans', sans-serif;
}
