@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@400..800&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

:root {
	--background: #1c1c1c;
	--color-main: #ffffff;
	--color-tint: #8f8f8f;
	--color-tinted: #3e3e3e;
}

@theme inline {
	--color-background: var(--background);
	--color-main: var(--color-main);
	--color-tint: var(--color-tint);
	--color-tinted: #3e3e3e;
}

body {
	font-family: 'Rethink Sans', sans-serif;
}

.font-body {
	font-family: 'Rethink Sans', sans-serif;
}

/* terminal blink */

@keyframes blink {
	0%,
	50% {
		opacity: 1;
	}

	51%,
	100% {
		opacity: 0;
	}
}

.animate-blink {
	animation: blink 1s step-end infinite;
}
